NODE_ENV=development
PORT=3000

NMM_WEB_ORIGIN=http://localhost:5173

NMM_DB_HOST=postgres
NMM_DB_PORT=5432
NMM_DB_USERNAME=namanmu
NMM_DB_PASSWORD=change-me
NMM_DB_DATABASE=namanmu
NMM_DB_SYNCHRONIZE=true
NMM_DB_LOGGING=false
