NODE_ENV=development
PORT=4000
WEB_ORIGIN=http://localhost:5173
LOG_LEVEL=info
SESSION_COOKIE_NAME=nmm_session
POSTGRES_DB=nmm_starter
POSTGRES_USER=nmm
POSTGRES_PASSWORD=nmm_password
POSTGRES_PORT=5432
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=nmm_starter
DATABASE_USER=nmm
DATABASE_PASSWORD=nmm_password
